body {
  background-color: black;
  font-family: monospace;
  font-size: 60%;
  margin: 0;
}

h1 {
  color: white;
  background-color: cornflowerblue;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  /* padding is used to create space around an element's content, inside of any defined borders */
  /* top and bottom paddings are 10px; right and left paddings are 0px */
}

#color-display {
  display: block;
}

#stripe {
  background: white;
  height: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
}

#message {
  text-transform: uppercase;
  color: cornflowerblue;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  width: 20%;
  /* 20% width of the borders */
}

#container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  float: left; /* element floats on the left side of the container */
  margin: 1.66%;
  transition: background 0.5s; /* transition effect: target CSS property, duration of the effect */
}

button {
  outline: none;
  color: cornflowerblue;
  font-family: "Raleway", Sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  background-color: white;
  height: 100%;
  letter-spacing: 1px;
  transition: all 0.3s; /* "all" resets all of an element's properties except unicode-bidi, direction, and CSS Custom Properties. */
}

button:hover {
  background-color: cornflowerblue;
  color: white;
}

.selected {
  /* id contains key-word "selected" */
  background-color: cornflowerblue;
  color: white;
}

.square {
  border-radius: 20%;
}

* {
  /* select all elements */
  border: 0px;
}
